{
  "presets": ["es2015", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-decorators-legacy",
    "lodash",
  ],
  "env": {
    "test": {
      "plugins": [
        ["module-resolver", {
          "root": ["./"],
          "alias": {
            "src": "./src"
          }
        }]
      ]
    }
  }
}
