{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "prettier"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "radix": 0,
    "import/extensions": 0,
    "jsx-a11y/href-no-hash": 0,
    "react/jsx-filename-extension": 0
  }
}
